footer {
    background-color: white;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}